<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
<!--  ---
layout: splash_page
title: Grindersteep
---  -->
  <div class="body_wrap">

    <!-- HEADER -->
    <div class="header" style="background-color:#7b5033; background-image:url('images/pattern_2.png')">
     <div class="header_highlight">
      <div class="header_bot" style="height:auto">
        <div class="container_12">
            
         <!-- topmenu -->
          <div class="topmenu">            
           <div class="logo">
            <a href="index.html" hidefocus="true" style="outline: none;"><h1>Grinders Steep</h1></a></div>

           <ul class="dropdown">
             <li class="menu-item-home current-menu-item first"><a href="index.html" hidefocus="true" style="outline: none;"><span>Homepage</span></a></li>
             <li><a href="about.html" hidefocus="true" style="outline: none;"><span>ABOUT US</span></a></li>
             <li><a href="gallery.html" hidefocus="true" style="outline: none;"><span>PHOTOS</span></a>
             </li>
             <li class="last"><a href="contact.html" hidefocus="true" style="outline: none;"><span>Contact</span></a></li>
           </ul>                
         </div>
         <!--/ topmenu -->
            
          </div>
        </div>
      </div>
    </div>
    <!--/Header -->



    <div class="middle">
     <div class="container_12">  


          {{ content }}

         <div class="clear"></div>

      </div>
      <!--/ menu_list with round images -->
    </div>
  </div>


</div>

<!-- footer -->
<div class="footer" style="background-color: #4b362c;">
  <div class="footer_inner">
     <div class="container_12">
       <div class="grid_8">

        <div class="botmenu">            
          <ul>

            <li><a href="http:///www.facebook.com/grinderssteep" target="_blank" hidefocus="true" style="outline: none;"><span>Join us on Facebook</span></a></li>
            <a href="http://www.facebook.com/grinderssteep" target="_blank" hidefocus="true" style="outline: none;"><img src="images/icon_facebook.jpg" width="22" height="22"></a>
          </ul>                
        </div>

      </div>
      <div class="grid_4">
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>



    </body>
</html>
